body{
  font-family: sans-serif;
  counter-reset: page;
  font-size: 8.5pt;
  font-family: 'Silkscreen', cursive;

}
h1{
  text-align: center;

}
h2 {
  break-before: page;
  text-align: center;

}

p{
  font-size: 10pt;
  color: #997483;
}

@media print {
  body {
    background-color: #F4F2DD;
  }
}

@page {
  size: 5in 8in; 
  margin-top: 0.25in; 
  margin-bottom: 0.5in;
}

@page:left {
  margin-left: 0.25in;
  margin-right: 1in;
  @bottom-left {
    content: counter(page);
  }
  @bottom-right {
    content: "Fang Dong";
  }
}
@page:right {
  margin-left: 1in;
  margin-right: 0.25in;
  @bottom-left {
    content: "MAI MAI MAI!";
  }
@bottom-right {
  content: counter(page);
}
}

.two-col {
  column-count: 2;
  column-gap: 2em;
}

img {
  width: 110%;
  display:block;
}

