body {
  font-family: sans-serif;
  background: lightgray;
}

h2 {
  break-before: page;
}

@media print {
  body {
    background: white;
  }
}

@page {
  size: 4.75in 8in;
  margin-top: 0.25in;
  margin-bottom: 0.5in;
}
@page:left {
  margin-left: 0.25in;
  margin-right: 0.75in;
}
@page:right {
  margin-left: 0.75in;
  margin-right: 0.25in;
}

.title{
  width:100%;
  position: absolute;
  top: 15%;
  right: 10%;
}
.house{
  width:100%;
  position: absolute;
  top: 28%;
  left: 5%;
}
.housetext{
  position: absolute;
  text-align:justify;
  font-weight: lighter;
  top: 60%;
  left: 20px;
  font-size: 14px;
  font-family: 'Mynerve', cursive;

}
.bunny{
  width:100%;
  position: absolute;
  top: 28%;
  left: 5%;
}
.bunnytext{
  position: absolute;
  text-align:justify;
  font-weight: lighter;
  font-size: 14px;
  font-family: 'Mansalva', cursive;


}
.dad{
  width:90%;
  position: absolute;
  top: 20%;
  left: 5%;
}
.dadtext{
  position: absolute;
  text-align:center;
  font-weight: lighter;
  font-size: 16px;
  font-family: 'Reenie Beanie', cursive;

}
.six{
  width: 90%;
  position: absolute;

}
.sixtext{
  position: absolute;
  text-align:justify;
  font-weight: lighter;
  font-size: 9px;
  font-family: 'Mynerve', cursive;

}
.twelve{
  width: 100%;
  position: absolute;
  top: 30%;
  left: 5%;
}
.twelvetext{
  position: absolute;
  text-align:justify;
  font-weight: lighter;
  font-size: 12px;
  top: 60%;
  font-family: 'Mansalva', cursive;

}
.body{
  width: 100%;
  position: absolute;
  top: 30%;
  left: 5%;
}
.bodytext{
  position: absolute;
  text-align:justify;
  font-weight: lighter;
  font-size: 13px;
  top: 60%;
  font-family: 'Reenie Beanie', cursive;

}
.seventext{
  position: absolute;
  width: 100%;
  text-align:justify;
  font-weight: lighter;
  font-size: 17px;
  top: 50%;
  left: 20%;
  font-family: 'Reenie Beanie', cursive;

}
.seven{
  width: 100%;
  position: absolute;
  top: 30%;
  left: 5%;
}
.please{
width: 100%;
position: absolute;
left: 3%;
}
.pleasetext{
  position: absolute;
  text-align:justify;
  font-weight: lighter;
  font-size: 16px;
  top: 60%;
  font-family: 'Mynerve', cursive;

}
.childhood{
  width: 150%;
position: absolute;
right:-5%;
top: 40%;
}
.childhoodtext{
  position: absolute;
  width: 70px;
  text-align:justify;
  font-weight: lighter;
  font-size: 12px;
  top: 5%;
  font-family: 'Mansalva', cursive;

}
.white:hover{
background-color: white;
color: white;
}
.glass{
  width: 140%;
  position: absolute;
right:-5%;
top: 40%;
}
.glasstext{
  position: absolute;
  text-align:justify;
  font-weight: lighter;
  font-size: 11px;
  top: 60%;
  font-family: 'Reenie Beanie', cursive;

}
.mother{
  width: 160%;
  position: absolute;
right:-5%;
top: 10%;
}
.mothertext{
  position: absolute;
  text-align:justify;
  font-weight: lighter;
  font-size: 11px;
  top: 10%;
  font-family: 'Mansalva', cursive;

}
.music{
  width: 100%;
  position: absolute;
  right: 5%;
}
.musictext{
  position: absolute;
  width: 80px;
  text-align:justify;
  font-weight: lighter;
  font-size: 12px;
  top: 5%;
  font-family: 'Mynerve', cursive;

}
.remember{
  position: absolute; 
  width: 120%;
  bottom: 40%;

}
.remembertext{
  position: absolute;
  text-align: center;
  font-weight: lighter;
  font-size: 15px;
  bottom: 20%;
  font-family: 'Reenie Beanie', cursive;

}
.end{
  width:120%;
  position: absolute;

}